[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-erlang"]
	path = bundle/vim-erlang
	url = git://github.com/jimenezrick/vimerl.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = git://github.com/jimenezrick/vimerl.git
[submodule "bundle/hybrid.vim"]
	path = bundle/hybrid.vim
	url = git://github.com/w0ng/vim-hybrid.git
[submodule "bundle/syntastic.vim"]
	path = bundle/syntastic.vim
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/scala.vim"]
	path = bundle/scala.vim
	url = git://github.com/jergason/scala.vim.git
[submodule "bundle/zencoding.vim"]
	path = bundle/zencoding.vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/tagbar.vim"]
	path = bundle/tagbar.vim
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/nginx-syntax.vim"]
	path = bundle/nginx-syntax.vim
	url = git://github.com/evanmiller/nginx-vim-syntax.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "bundle/bling"]
	path = bundle/bling
	url = https://github.com/ivyl/vim-bling.git
